<% food = suggestion[:food] %>
<% music = suggestion[:music] %>

<h2>Suggestion</h2>

<strong>Grab some grub!</strong>
<ul>
  <li><%= link_to food.name, food.link %></li>
  <li><%= image_tag food.image %></li>
  <li><%= image_tag food.rating[:stars] %><%= food.rating[:rating] %></li>
  <li><%= food.phone %></li>
  <li><%= food.address.address %></li>
</ul>

<strong>Check out this <%= music.type %>!</strong>
<ul>
  <li><%= link_to music.name, music.links["spotify"] %></li>
    <% if music.image %>
      <li><%= image_tag music.image %></li>
    <% end %>
  <li>
    <div class='embed-container'>
      <iframe src="<%= "https://embed.spotify.com/?uri=#{music.embed}" %>" frameborder='0' allowtransparency='true'></iframe>
    </div>
  </li>
</ul>

<% if user_favorited?(suggestion[:id]) %>
  <%= form_tag favorite_path(params), method: "delete" do %>
    <%= hidden_field :suggestion_id, "suggestion_id", {value: suggestion[:id]} %>
    <%= submit_tag "UnFav" %>
  <% end %>
<% else %>
  <%= form_tag favorite_path(params), method: "post" do %>
    <%= hidden_field :suggestion_id, "suggestion_id", {value: suggestion[:id]} %>
    <%= submit_tag "Fav" %>
  <% end %>
<% end %>
