<% food = suggestion[:food] %>
<% music = suggestion[:music] %>

<div class="col-lg-4 suggestion">
  <div class="music-info">
    <div class="music-title">
      <%= link_to music.links["spotify"] do %>
        <h4><i class="fa fa-music" aria-hidden="true"></i> <%= display_music_name(music.name) %></h4>
      <% end %>
    </div>

    <div class='embed-container'>
      <iframe src="<%= "https://embed.spotify.com/?uri=#{music.embed}" %>" frameborder='0' allowtransparency='true'></iframe>
      <% if music.image %>
        <%= image_tag music.image %>
      <% end %>
    </div>
  </div>
  <div class="food-info">
    <div class="col-lg-4">
      <%= image_tag food.image, class: "img-circle food-img" %>
      <% if current_user %>
        <% if user_favorited?(suggestion[:id]) %>
          <%= form_tag favorite_path(params), method: "delete" do %>
            <%= hidden_field :suggestion_id, "suggestion_id", {value: suggestion[:id]} %>
            <%= button_tag(class: "btn btn-default") do %>
              <i class="fav fa fa-fire" aria-hidden="true"></i> Unfav
            <% end %>
          <% end %>
        <% else %>
          <%= form_tag favorite_path(params), method: "post" do %>
            <%= hidden_field :suggestion_id, {value: suggestion[:id]} %>
            <%= button_tag(class: "btn btn-default") do %>
              <i class="fav outline fa fa-fire" aria-hidden="true"></i> Fav
            <% end %>
          <% end %>
        <% end %>
      <% end %>

    </div>
    <div class="col-lg-8 food-title">
      <h4>
        <%= link_to food.link do %>
          <i class="fa fa-spoon" aria-hidden="true"></i> <%= display_food_name(food.name.capitalize) %>
        <% end %>
      </h4>
      <%= image_tag food.rating[:stars] %> <%= food.rating[:rating] %>
      <% unless food.phone.nil? %>
        <p><%= link_to food.phone, tel:food.phone %></p>
      <% end %>
      <% if food.cross_streets %>
        <div class="address"><%= food.cross_streets %></div>
      <% else %>
        <div class="address">
          <% food.display_address.each do |add| %>
            <p><%= add %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
