<div class="jumbotron">
  <h1>Welcome to SoundChow</h1>
  <span class="sans-font"><p>Perfectly curated listening experiences paired with your personal tastes.</p></span>
  <div class="search">
  <%= form_tag :suggestions, {controller: 'suggestions', action: 'create', class: "form-signin"} do |f| %>
    <%= label_tag :search, "Search for Suggestions", class: "form-signin-heading" %>
    <%= text_field_tag :search, nil, class: "form-control", placeholder: "Ice Cream" %>

    <%= label_tag :number_of_results, "Number of Suggestions", class: "" %>
    <%= select_tag(:limit, options_for_select(['1', '5', '10', '20', '50', '100'], '10'), class: "form-control" ) %>

    <%= submit_tag("Search", class:"btn btn-lg btn-primary btn-block") %>
  <% end %>
</div>
</div>

<h1 class="page-title">Top 20 Suggestions of All Time</h1>

<div class="row marketing">
  <% @suggestions.each do |suggestion| %>
    <%= render partial: 'suggestion', object: suggestion %>
  <% end %>
</div>
