<h1>Home Page </h1>
<%= "Hi, #{current_user.name}!" if current_user %>

<%= form_tag :suggestions, {controller: 'suggestions', action: 'create'} do |f| %>
  <%= label_tag :search %>
  <%= text_field_tag :search %>

  <%= label_tag :number_of_results %>
  <%= select_tag(:limit, options_for_select([['10', 10], ['20', 20], ['50', 50], ['100', 100]])) %>

  <%= submit_tag("Search") %>
<% end %>

<% @suggestions.each do |suggestion| %>
    <%= render partial: 'suggestion', object: suggestion %>
<% end %>
