<!DOCTYPE html>
<html>
<head>
  <title>TunesTakeout</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="container">
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top navbar-nav">
        <h1 class="navbar-header navbar-brand">SoundChow</h1>
        <li><%= link_to 'Home', root_path %></li>
        <% if current_user %>
          <%= link_to 'My Favorites', favorites_path %>
        <% else %>
        <div class="navbar-right">
          <%= link_to 'Log In With Spotify', '/auth/spotify', class: "btn btn-success navbar-right" unless current_user %>
        </div>
        <% end %>
        <% if current_user %>
          <div class="navbar-right">
            <%= button_to 'Log Out', logout_path, method: :delete, class: "btn btn-primary navbar-right" %>
            <%= link_to "https://open.spotify.com/user/#{current_user.uid}" do %>
            <%= image_tag current_user.photo_url, class: "img-circle user-img navbar-right" %>
              <p class="navbar-right"><%= current_user.name %></p>
            <% end %>
          </div>
        <% end %>
      </nav>
    </header>

    <%= yield %>
  </section>

</body>
</html>
