<!DOCTYPE html>
<html>
<head>
  <title>TunesTakeout</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <%= link_to 'Home', root_path %>
      <% if current_user %>
        <%= link_to 'Log Out', logout_path, method: :delete %>
        <%= link_to 'My Favorites', favorites_path %>
      <% end %>
        <%= link_to 'Log In Through Spotify', '/auth/spotify' unless current_user %>
    </nav>
    <% if current_user %>
      <%= link_to "https://open.spotify.com/user/#{current_user.uid}" do %>
        <p><%= current_user.name %></p>
        <%= image_tag current_user.photo_url %>
      <% end %>
    <% end %>
  </header>

<%= yield %>

</body>
</html>
